
<div class="result">
    <% if vue.stargazers_count > react.stargazers_count %>
        <span class="answer success">YES</span>
    <% else %>
        <span class="answer fail">NO</span>
        <p class="result-missing-stars">
            But... Only <%= react.stargazers_count - vue.stargazers_count %> to go.
        </p>
    <% end %>

</div>

<div class="results">
    <div class="result-details">
        <a href="https://github.com/vuejs/vue" target="_blank">
            <i class="fab fa-vuejs vue-logo"></i>
        </a>
        <div class="result-details-info">
            <p><i class="fas fa-star"></i><%= vue.stargazers_count %></p>
            <p><i class="fas fa-eye"></i><%= vue.subscribers_count %></p>
            <p><i class="fas fa-code-branch"></i><%= vue.forks_count %></p>
        </div>
    </div>
    <div class="result-details">
        <a href="https://github.com/facebook/react" target="_blank">
            <i class="fab fa-react react-logo"></i>
        </a>
        <div class="result-details-info">
            <p><i class="fas fa-star"></i><%= react.stargazers_count %></p>
            <p><i class="fas fa-eye"></i><%= react.subscribers_count %></p>
            <p><i class="fas fa-code-branch"></i><%= react.forks_count %></p>
        </div>
    </div>
</div>